.logo {
  @include heading-color($h6, $hthin, $logo-color);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: $logo-margin-top;
  margin-left: $logo-margin-left;
  padding: $logo-padding;
  z-index: 1;
  background-color: $logo-accent-color;
  opacity: $logo-opacity;
  border-radius: $logo-border-radius;
}

.logo span{
  font-weight: 700;
}