body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $map-width;
}

.hide{
  display: none !important;
}

.langbox{
  margin: 15px 0;
}

.btn{
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: $indigo;
  color: $white;
  border: 1px solid $indigo;

  &:hover{
  cursor: pointer;
    background-color: $white;
    color: $indigo;
  }
}

.sidebar{
  position: absolute;
  right: 0;
  width: $sidebar-width;
  z-index: 5;
  padding: $sidebar-padding;

  &__background{
    background-color: $background-color;
    opacity: $sidebar-opacity;
    z-index: 1;
  }

  &__info{
    display: none;
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: $white;
    opacity: 0.95;
    margin-top: $sidebar-top-margin-bottom;

    // -webkit-transition: max-height 1s ease-in-out;
    // -moz-transition: max-height 1s ease-in-out;
    // -ms-transition: max-height 1s ease-in-out;
    // -o-transition: max-height 1s ease-in-out;
    // transition: max-height 1s ease-in-out;

    &__title{
      @include heading-dark($h8, $hbold);
    }

    &__subtitle{
      display: flex;
      align-items: flex-start;

      @include heading-color($h9, $hreg, #999);

      i {
        font-size: 18px;
      }
    }

    &__text{
      display: none;
      align-items: flex-start;
      width: 100%;

      @include heading-dark($h9, $hreg);
      i {
        font-size: 18px;
      }
    }

    &__footer{
      display: none;
    }
  }

  &__top{
    background-color: #333;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    width: 100%;
    height: $sidebar-top-height;
    opacity: 0.95;
    z-index: 3;

    &__button{
      display: inline-block;
      width: $sidebar-top-button-width;
      height: 100%;
      margin-right: -4px;

      .sidebar__icon{
        background-color: $white;

        i{
          @include heading-color($h6, $hthin, #BBB);
        }

        &:hover{
          cursor: pointer;
          background-color: #EEE;
        }

        &#homebtn{
          border-top-left-radius: 5px;

          &.close{
            border-bottom-left-radius: 5px;
          }
        }

        &#setbtn{
          border-top-right-radius: 5px;

          &.close{
            border-bottom-right-radius: 5px;
          }
        }

        &#treebtn, &#searchbtn{
          background-color: rgba(#000,0);

          &:hover{
            background-color: #222;
          }

          i{
            @include heading-color($h6, $hthin, #bbb);
          }
        }
      }
    }
  }

  &__search{
    display: none;
    position: relative;
    width: 100%;
    background-color: $white;
    opacity: 0.95;
    padding: 10px 15px;
    z-index: 2;
    border-top: 1px solid #F5F5F5;

    &.active{
      display: block;
    }

    // &.close{
    //   border-bottom-right-radius: 5px;
    //   border-bottom-left-radius: 5px;
    // }

    .easy-autocomplete{
      width: 100% !important;
      display: inline;

      input{
        width: 100%;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ddd;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ddd;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ddd;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ddd;
        }
      }
    }
  }

  #searchbtn, #treebtn{
    .active {
      i{
        color: #3D5AFE;
        font-weight: $hbold;
        text-shadow: 0 0 20px #3D5AFE;
      }
    }
  }

  &__icon{
    display: table;
    height: 100%;
    width: 100%;

    &__inner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 100%;
      width: 100%;

      // i{
      //   @include heading-light($h6, $hthin);
      // }
    }

    .active{

      i{
        @include heading-color($h6, $hbold, $sidebar-activeicon-color);
      }
    }
  }

  &__content{
    background-color: $white;
    border-top: 1px solid #F5F5F5;
    opacity: 0.95;
    display: none;
    padding-bottom: 10px;

    &.active{
      display: block;
    }

    .legendpng{
      width: 100%;
    }

    &__head{
      padding-top: $sidebar-content-head-padding-top;
      padding-left: $sidebar-content-head-padding-left;
      padding-right: $sidebar-content-head-padding-left;
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      // background-color: #3F51B5;

      &__title{
        @include heading-color($h5, $hbold, $black);

        &2{
          @include heading-color($h8, $hreg, #999);
        }

        &3{
          background-color: #000;
          padding: 5px;
          border-radius: 5px;
          @include heading-color($h8, $hreg, #FFF);
          margin-top: 5px;
        }
      }
    }

    &__subtitle{
      padding-top: 5px;
      padding-left: $sidebar-content-head-padding-left;
      padding-right: $sidebar-content-head-padding-left;

      @include heading-color($h8, $hreg, #333);

      span{
        font-weight: $hbold;
      }

      i{
        font-size: 18px;
      }

      div{
        padding: 5px 0;
        display: flex;
        align-items: flex-start;
      }
    }

    &__text, &__text__settings{
      padding: 0 10px;
      border-top: 1px solid #F5F5F5;
      text-align: right;

      @include heading-color($h8, $hreg, #999);

      i{
        font-size: 18px;
      }

      p{
        text-align: left;
      }

      &__left{
        display: inline-block;
        padding: 8px;
        padding-bottom: 9px;
        font-size: 9px;
        float: left;
        border-radius: 5px;
        background-color: #F5F5F5;
        margin-top: 4px;

        i{
          padding: 10px;

          &:hover{
            cursor: pointer;
            background-color: #F5F5F5;
          }
        }
      }

      &__right{
        padding: 10px 0;
        display: inline-block;
      }
    }
  }

  &__closebar{
    position: relative;
    width: 100%;
    background-color: $white;
    text-align: center;
    border-top: 1px solid #F5F5F5;
    opacity: 0.95;
    padding: 5px;
    // border-bottom-right-radius: 5px;
    // border-bottom-left-radius: 5px;
    @include heading-color($h9, $hthin, #999);

    i{
      font-size: 24px;
      color: #333;
    }

    &:hover{
      cursor: pointer;
      background-color: #F5F5F5;
    }
  }

  &__minbtn{
    display: none;
  }
}
