body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $map-width;
}

.langbox{
  margin: 15px 0;
}

#langbar{
  display: none;
}

.sidebar{
  position: absolute;
  right: 0;
  width: $sidebar-width;
  z-index: 2;
  padding: $sidebar-padding;

  &__background{
    background-color: $background-color;
    opacity: $sidebar-opacity;
    z-index: 1;
  }

  &__info{
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: $white;
    margin-bottom: $sidebar-top-margin-bottom;
    opacity: 0.95;

    &__title{
      @include heading-dark($h8, $hbold);
    }
    &__subtitle{
      display: flex;
      align-items: center;

      @include heading-color($h9, $hreg, #999);

      i {
        font-size: 18px;
      }
    }
    &__text{
      display: flex;
      align-items: flex-start;
      width: 100%;

      @include heading-dark($h9, $hreg);
      i {
        font-size: 18px;
      }
    }
  }

  &__top{
    position: relative;
    width: 100%;
    height: $sidebar-top-height;
    background-color: $white;
    opacity: 0.95;
    z-index: 3;

    &__button{
      display: inline-block;
      width: $sidebar-top-button-width;
      height: 100%;
      margin-right: -4px;
    }
  }

  &__search{
    display: none;
    position: relative;
    width: 100%;
    background-color: $white;
    opacity: 0.95;
    padding: 10px 15px;
    z-index: 2;
    border-top: 1px solid #F5F5F5;

    &.active{
      display: block;
    }

    .easy-autocomplete{
      width: 100% !important;
      display: inline;

      input{
        width: 100%;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ddd;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ddd;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ddd;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ddd;
        }
      }
    }
  }

  &__icon{
    display: table;
    height: 100%;
    width: 100%;

    :hover{
      cursor: pointer;
      background-color: #EEE;
    }

    &__inner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 100%;
      width: 100%;

      i{
        @include heading-light($h6, $hthin);
      }
    }

    .active{

      i{
        @include heading-color($h6, $hbold, $sidebar-activeicon-color);
      }
    }
  }

  &__content{
    background-color: $white;
    border-top: 1px solid #F5F5F5;
    opacity: 0.95;
    display: none;

    &.active{
      display: block !important;
    }

    &__head{
      padding-top: $sidebar-content-head-padding-top;
      padding-left: $sidebar-content-head-padding-left;
      padding-right: $sidebar-content-head-padding-left;
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      // background-color: #3F51B5;

      &__title{
        @include heading-color($h5, $hbold, $black);
      }
    }

    &__subtitle{
      padding-top: 5px;
      padding-left: $sidebar-content-head-padding-left;
      padding-right: $sidebar-content-head-padding-left;

      @include heading-color($h8, $hreg, #999);

      i{
        font-size: 18px;
      }

      &__population{
        padding: 5px 0;
        display: flex;
        align-items: center;
      }

      &__location{
        padding: 5px 0;
        display: flex;
        align-items: flex-start;
      }
    }

    &__text{
      padding-top: $sidebar-content-head-padding-top;
      padding-left: $sidebar-content-head-padding-left;
      padding-right: $sidebar-content-head-padding-left;
      padding-bottom: $sidebar-content-head-padding-top;

      @include heading-color($h8, $hreg, #999);

      i{
        font-size: 18px;
      }
    }
  }

  &__closebar{
    position: relative;
    width: 100%;
    background-color: $white;
    text-align: center;
    border-top: 1px solid #F5F5F5;
    opacity: 0.95;

    &:hover{
      cursor: pointer;
      background-color: #F5F5F5;
    }
  }
}
