.tooltip{
  display: none;
  background-color: $white;
  opacity: 0.95;
  // padding: 5px;
  text-align: left;
  width: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  position: fixed;
  overflow: hidden;
  z-index: 1;

  i{
    font-size: 12px;
  }

  &.active{
    display: flex;
  }

  &__info{
    padding: 10px;

    &__title{
      margin-bottom: 5px;

      @include heading-color($h8, $hbold, $black);
    }

    &__subtitle{
      display: flex;
      align-items: flex-start;
      margin-bottom: 5px;

      @include heading-color($h9, $hreg, #999);

      i {
        font-size: 18px;
      }
    }

    &__text{
      display: flex;
      align-items: flex-start;
      width: 100%;

      @include heading-dark($h9, $hreg);

      i {
        font-size: 18px;
      }
    }

    &__footer{
      border-top: 1px solid #F5F5F5;
      opacity: 0.95;
      padding: 5px;
      width: 100%;
      text-align: center;

      @include heading-color($h9, $hthin, #999);
    }
  }
}
