.tooltip{
  display: none;
  background-color: $white;
  opacity: 0.95;
  // padding: 5px;
  text-align: left;
  width: 300px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: opacity 1s;

  i{
    font-size: 12px;
  }

  &.active{
    display: flex;
  }

  &__info{
    width: 100%;
    display: flex;
    flex-direction: row;

    &__content{
      padding: 5px 10px;

      &__title{
        @include heading-color($h6, $hbold, $black);
      }

      &__text{
        display: flex;
        align-items: center;
        @include heading-color($h8, $hthin, #bbb);
      }
    }

    &__population{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      align-items: center;
      background-color: $indigo;
      width: 100px;
      height: 100px;

      @include heading-color($h9, $hreg, $white);

      i {
        font-size: 32px;

        &.mini{
          font-size: $h9;
        }
      }

      #populationval{
        @include heading-color($h6, $hbold, $white);
      }

      #tooltipStatus{
        display: flex;
        align-items: center;
        text-align: center;

        i{
          font-size: 12px;
        }
      }
    }

    &__footer{
      // border-top: 1px solid #e5e5e5;
      background-color: #F0F0F0;
      opacity: 0.95;
      padding: 5px;
      width: 100%;
      text-align: center;

      @include heading-color($h9, $hthin, #777);
    }
  }
}
