// Web Typography Definition

$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$h7: 14px;
$h8: 12px;
$h9: 10px;
$h10: 8px;

$hthin: 300;
$hreg: 400;
$hbold: 700;

// Web Element Variable
$map-width: 100%;

$logo-margin-top: 10px;
$logo-margin-left: 10px;
$logo-padding: 1px 10px 4px 10px;
$logo-opacity: 0.9;
$logo-border-radius: 3px;

$sidebar-width: 30%;
$sidebar-opacity: 0.9;

  $sidebar-top-height: 45px;
  $sidebar-top-button-width: 20%;
  $sidebar-top-radius: 10px;
  $sidebar-top-margin-bottom: 12px;

  $sidebar-icon-font-size: $h6;
  $sidebar-icon-color: $icon-color-light;
  $sidebar-icon-font-weight: 300;

  $sidebar-activeicon-font-size: $h6;
  $sidebar-activeicon-font-weight: 700;

  $sidebar-content-head-padding-top: 24px;
  $sidebar-content-head-padding-left: 24px;
  $sidebar-content-head-height: 300px;

  $sidebar-padding: 12px;