@mixin heading-light($heading:$h10, $weight:hreg){
  font-size: $heading;
  font-weight: $weight;
  color: $text-color-light;
  margin: 0;
}

@mixin heading-dark($heading:$h10, $weight:hreg){
  font-size: $heading;
  font-weight: $weight;
  color: $text-color-dark;
  margin: 0;
}

@mixin heading-color($heading:$h10, $weight:hreg, $color:$text-color-dark){
  font-size: $heading;
  font-weight: $weight;
  color: $color;
  margin: 0;
}